@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0B0B;
}
::-webkit-scrollbar-thumb {
  background: #2F4050;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B49B62;
}
